<div class="container row">
        <h1>Bienvenido a la búsqueda de GeoTurnos</h1>

        <p>
            <ul>
                <li>En la pestaña <b>Búsqueda por Geoposición</b> podes realizar una búsqueda utilizando un mapa</li>
                <li>En la pestaña <b>Búsqueda por Filtrado</b> podes realizar una búsqueda utilizando distintos filtros</li>
            </ul>

        </p>
    
</div>


