
<div class="container" ng-controller="BuscarTurnoFiltradoController">
    <div class="row col-md-2">
        <h3>Filtros</h3>
        <div class="container">
            
            <form class="form-horizontal" style="margin-bottom:15px;">
                <div class="form-group">
                    <label for="empresa">Empresa:</label>
                    <input ng-model="nombre" type="text" class="form-control" id="empresa" placeholder="Empresa" />
                </div>

                <div class="form-group">
                    <label>Rubros:</label>
                    <select ng-model="rubro" class="form-control" name="idRubro" id="rubros">
                        <option Value="">Seleccione...</option>
                        <option value="{{rubro.idRubro}}" ng-repeat="rubro in rubros">{{rubro.nombre}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="provincias">Provincia:</label>
                    <select ng-model="prov" class="form-control" id="provincias" ng-change="clickProvincias()">
                        <option value="">Seleccione...</option>
                        <option value="{{provincia.idProvincia}}" ng-repeat="provincia in provincias" >{{provincia.nombre}}</option>
                    </select>

                </div>
                <div class="form-group">
                    <label for="ciudades">Ciudad</label>
                    <select ng-model="ciudad" class="form-control" id="ciudades" disabled>
                        <option value="">Seleccione...</option>
                        <option value="{{ciudad.idCiudad}}" ng-repeat="ciudad in ciudades">{{ciudad.nombre}}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="filtrarEmpresas()">Aplicar Filtro</button>
            </form>

        </div>
    </div>

    <div class="row col-md-10">

        <div class="container">
            <h3>Resultados</h3>
            
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr class="info">
                        <th ng-hide="true">idEmpresa</th>
                        <th>Rubro</th>
                        <th>Logo</th>
                        <th>CUIT</th>
                        <th>Razón Social</th>
                        <th>Telefono</th>
                        <th>Email</th>
                        <th>Dirección</th>
                        <th></th>
                    </tr>
                    <tr class="media" data-ng-repeat="emp in empresas">
                        <th ng-hide="true">{{emp.idEmpresa }}</th>
                        <th>{{emp.Rubro.nombre}}</th>
                        <th class="media-left media-middle"><img src="data:image/png;base64,{{emp.logoEmpresa}}" class="media-object" style="height:40px;width:40px" /></th>
                        <th>{{emp.cuit }}</th>
                        <th>{{emp.razonSocial }}</th>
                        <th>{{emp.telefono }}</th>
                        <th>{{emp.email }}</th>
                        <th>{{emp.Domicilio.calle +' '+ emp.Domicilio.altura}}</th>
                        <th><a ng-click="" class="btn btn-primary">Ver Turnos Dispobibles</a></th>
                    </tr>
                </table>
            </div>
            
        </div>
        <div id="notificaciones"><div id="mensajeNotificacion"></div></div>
        <div id="contenedorNotificaciones" class="contenedorNotificaciones"></div>
    </div>
    <div id="loader"></div>
</div>

