<div class="container row">
        <h1>Bienvenido a la búsqueda de GeoTurnos</h1>

        <p>
            <ul>
                <li><strong><em> En la pestaña "Búsqueda por Geoposición": podrás realizar la búsqueda de la empresa por coordenadas (latitud y longitud) o a través de un mapa.<b></b> </em> </strong></li>
                <li><strong><em> En la pestaña "Búsqueda por Filtrado": podrás realizar una búsqueda específica utilizando diferentes tipos de filtros. <b></b> </em> </strong></li>
            </ul>

        </p>
    
</div>


