


    <div class="container" ng-controller="ComentariosRatingController">

    <div ng-repeat="com in comentarios" class="row">
        <div class="col-sm-7">
            <hr />
            <div class="review-block">
                <div class="row">
                    <div class="col-sm-3">
                        <img ng-src="data:image/png;base64,{{com.foto}}" class="img-rounded" style="height:60px;width:60px">
                        <div class="review-block-name"><a href="#">{{com.usuario}}</a></div>
                        <div class="review-block-date">{{com.fecha_comentario}}</div>
                    </div>
                    <div class="col-sm-9">
                        <div class="review-block-rate" ng-open="verCalificacion()">
                            <span id="estrella{{com.Id_comentario}}"></span>
                        </div>
                        <div class="review-block-title" >{{com.titulo}}</div>
                        <div class="review-block-description">{{com.comentario}}</div>
                    </div>
                </div>
            </div>
       





