<div align="center" > <img src="/resources/LOGO-FINAL.png"> </div>

<div class="row">
    <div class="col-lg-offset-3 col-lg-6 about" align="justify">
        <h4>

            GeoTurnos es la solución esperada para clientes y prestadores de servicios para una gestión
            integral de turnos. Ayuda a los clientes a realizar la búsqueda de servicios hasta la reserva
            de los turnos con prestadores de múltiples rubros.
            Y a los prestadores, desde la promoción de sus servicios hasta la gestión de calendario de
            turnos.
            Siendo factores de alta relevancia la precisión en la búsqueda mediante geolocalización
            y la posibilidad de calificar y/o evaluar los servicios brindados.

        </h4>
    </div>
</div>




