@{
    ViewBag.Title = "Contactate con Nosotros";
}
<h2><P ALIGN=center>@ViewBag.Title</h2>
<br />

<body>
    <P ALIGN=center> 
       
        
         <a id="foxyform_embed_link_317976" href="http://es.foxyform.com/">foxyform</a>
        <script type="text/javascript">
(function(d, t){
   var g = d.createElement(t),
       s = d.getElementsByTagName(t)[0];
   g.src = "http://es.foxyform.com/js.php?id=317976&sec_hash=db80c244e45&width=350px";
   s.parentNode.insertBefore(g, s);
}(document, "script"));
        </script>
        



</body>


<div class="col-xs-12 text-center padding_bottom20" style="background-color: #fff;">
    <a href="https://www.facebook.com/GeoTurnos-1299187313536030/" target="_blank"><img src="/resources/face.png" alt="facebook"></a>
    <!--<a href="" target="_blank"><img src="/resources/instagram.png" alt="instagram"></a>
    <a href="" target="_blank"><img src="/resources/twitter.png" alt="twitter"></a>-->
</div>


<!--<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>-->
    
<address>
    <strong>Support:</strong>   <a href="mailto:geoturnos@gmail.com">geoturnos@gmail.com</a><br />
   
</address>