@model WebSite.Models.PerfilEmpresaViewModels
@{
    ViewBag.Title = "PerfilEmpresa";
}

<div class="container">
    
    
    <div class="row" >
        <div class="col-md-3" style="background-color:chartreuse;">
            Info empresa y raiting
            <h2>Empresa: @Model.razonSocial</h2>

            datepicker
        </div>

        <div class="col-md-9" style="background-color:darkblue;">turnos (formulario parcial?)</div>
    </div>

    <div class="row">
    
        <div class="col-md-12" style="background-color:coral;">comentarios y raiting de cada uno  (formulario parcial?)</div>
    
    </div>


    
    
    











</div>

