
@model WebSite.Models.PerfilEmpresaViewModels

@{
    ViewBag.Title = "PerfilEmpresa";
    
}

<div class="container" ng-controller="PerfilEmpresaController">
   
    
    <div class="row" >
        <div class="col-md-3" style="background-color:chartreuse;">
            Info empresa y raiting
            <h2>Empresa: @Model.razonSocial</h2>

            datepicker
        </div>

        <div class="col-md-9" ng-controller="SchedulerController">


            <div class="container"><div id="scheduler"></div></div>

        </div>
    </div>

    <div class="row">
    
        <div ng-include="contenidoATraer"></div>
    
    </div>


</div>
<script>
    //Cambiar por el id de la empresa que busque
    var retornarIdEmpresa = function () {
        return 10;
    };

</script>
