@{
    ViewBag.Title = "Contraseña olvidada";
}

<hgroup class="title">

    <div class="row filaRegistrarCliente">

        <div id="titulosRegistrar">
            <h1>@ViewBag.Title</h1>
            <p>
                Por favor revise su email para restablecer su password.
            </p>
        </div>

        <div style="padding-top:20px;">
        </div>
    </div>
    
</hgroup>

	
