@{
    ViewBag.Title = "Password restablecido";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Su password ha sido restablecido. Por favor haga @Html.ActionLink("clic aquí", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) para iniciar sesión
    </p>
</div>
