body {
    padding-top: 100px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#titulosRegistrar {
    text-align: center;
    background: lightblue;
    padding: 15px;
    box-shadow: 2px 2px 20px black;
}

.lineaSeparadoraTitulo {
    color: black;
    border-color: black !important;
}

.container {
    width: 100% !important;
}

.jumbotron {
    box-shadow: 1px 10px 50px;
    border-radius: 0px !important;
}

.menu {
    min-height: 100px;
    background-color: white;
    border-color: lightgrey;
}

    .menu .container {
        width: 90% !important;
    }

.logoMenu {
    max-height: 90px;
}

@media only screen and (max-width:600px) {
    .logoMenu {
        max-width: 75%;
    }
}

.barraMenu {
    padding-top: 25px;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
    font-weight:bold;
    transition-duration: 0.3s;
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #337ab7;
        transition-duration: 0.3s;
        border-color:#337ab7;
        border-bottom:3px solid;
    }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #337ab7;
    background-color: white;
    border-radius: 0px;
    transition-duration: 0.5s;
    
}

.navbar-toggle {
    margin-top: 25px;
    background-color: lightgray;
}

.filaRegistrarCliente {
    background-color: aliceblue;
}

.filaLogin {
    background-color: aliceblue;
    text-align: center;
    padding-top: 40px;
}

@media only screen and (max-width: 767px) {
    .loginInput {
        display: inline !important;
    }
}

.filaOlvidoContraseña {
    background-color: aliceblue;
    text-align: center;
    padding-top: 40px;
}

.grupoLogin {
    padding-bottom: 20px;
    text-align: left;
}

.margenBot15 {
    margin-bottom: 15px;
}

@media only screen and (max-width: 767px) {
    .grupoLogin {
        padding-bottom: 20px;
        text-align: center;
    }

    .loginError {
        display: inherit;
    }
}


.footer {
    background-color: #808080;
    color: white;
    padding: 20px;
}

    .footer p {
        margin: 0px;
    }

.filaRegistrarse {
    text-align: center;
    background-color: aliceblue;
    padding-bottom: 20px;
}

.grow:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.fotoUsuario {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.fotoUsuarioPadre {
    display: table;
    table-layout: fixed;
    width: 100%;
}

@media only screen and (max-width:500px) and (min-width:400px) {
    #bienvenida h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width:400px) {
    #bienvenida h1 {
        font-size: 20px;
    }
}

#bienvenida h1 {
    padding-top: 15%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
}

#bienvenida {
    padding-left: 0px;
}

#menuUsuarios {
    background-color: lightgray;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    #menuUsuarios li {
        background-color: lightgray;
        padding-top: 20px;
        padding-bottom: 20px;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

        #menuUsuarios li:first-child {
            border-left: none;
            border-bottom-left-radius: 10px;
        }

        #menuUsuarios li a {
            color: black;
            font-weight: bold;
        }

            #menuUsuarios li:hover, #menuUsuarios li a:hover {
                background-color: gray;
            }

    #menuUsuarios > li + li {
        margin-left: 0px;
    }

    /*#menuUsuarios > li.active > a,
    #menuUsuarios > li.active > a:hover,
    #menuUsuarios > li.active > a:focus {
        color: #337ab7;
        background-color: white;
        border-bottom: 3px solid #337ab7;
        border-radius: 0px;
        font-weight: bold;*/
    /*}*/
    #menuUsuarios > li.active > a, #menuUsuarios > li.active {
        background-color: gray;
        color: white !important;
    }

        #menuUsuarios > li.active .fondoEncabezadoUsuario {
            background-image: url(../resources/personas.png);
            background-size: cover;
            background-position: center;
        }

#mapa {
    width: 100%;
    height: 600px;
    align-self: center;
}

.filaActivarEmpresa th {
    vertical-align: middle !important;
}

    .filaActivarEmpresa th img {
        width: auto !important;
    }

.filaActivarEmpresa {
    background-color: lightyellow;
}

.info th {
    background-color: red;
}

.about {
    padding-bottom: 30px;
    padding-top: 30px;
}

    .about h4 {
        line-height: 30px;
    }

.gestionGeoposicion {
    margin-top: 20px;
    margin-bottom: 20px;
}

.botonesGeoposicion {
    margin-bottom: 20px;
    margin-top: 20px;
}

.contenedorNotificaciones {
    margin: auto;
    width: 300px;
    height: 100px;
    margin-top: 20px;
}

.home1 h2{
    margin-bottom: 30px;
    border-bottom: 2px solid white;
    padding-bottom: 30px;
}

.home1 p{
    font-size: 18px;
    padding-bottom: 20px;
}

.botonHome{
        background-color: #ab090e;
    color: white;
    border: none;
    padding-left:40px;
    padding-right:40px;
    padding-top:20px;
    padding-bottom:20px;
    transition-duration: 0.4s;
    border-radius:40px;
}

.botonHome:hover{
        background-color:  #d11218;
        color:white;
        box-shadow: 0px 0px 10px 0px white;
    transition-duration: 0.4s;
}

.home1 strong
{
    font-size: 25px;
    color: #e6090e;
}

.btn-primary {
    transition-duration: 0.4s;
}

.btn-primary:hover {
    border-radius: 20px !important;
    transition-duration: 0.4s;
}
.btn-danger {
    transition-duration: 0.4s;
    background-color: #d9534f;
}

.btn-danger:hover {
    border-radius: 20px !important;
    transition-duration: 0.4s;
}

.home2 div{
    padding:50px;
}
/*--------------------------------------TABLA CON SIDEBAR----------------------------------------*/
/* Style the tab */
div.tab {
    float: left;
    width: 15%;
}

.GestionarAgendaTurnos
{
    margin-top:20px;
}


/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: #d3d3d3;
    color: black;
    padding: 22px 16px;
    width: 100%;
    font-size: 15px;
    font-weight:bold;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.4s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #808080;
    color: white;
    transition-duration: 0.4s;
   
}

/* Create an active/current "tab button" class */
div.tab button.active {
        background-color: #808080;
    color: white;
    transition-duration: 0.4s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}

/* Style the tab content */
.tabcontent {

    float: left;
    padding: 0px 12px;
    border: 1px solid gray;
    width: 85%;
    /*height: 300px;*/
}
/*------------------------------------------------------------------------------*/
.plantillaDias{
    margin-bottom: 15px;
    margin-top: 15px;
    border: 1px solid;
    padding: 10px;
    background-color: #e1f1ff;
}
.jqx-rangeselector, .jqx-rangeselector-content, .jqx-rangeselector-slider, .jqx-rangeselector-markers, .jqx-rangeselector-ticks-container, .jqx-rangeselector-ticks, .jqx-rangeselector-shutter {
    margin: auto;
}

.md-label
{
    font-size: 18px;
}

.tituloGestionarRubro
{
    font-size:30px;
}
.botonNuevoRubro
{
    margin-left: 30px;
    margin-top: -5px;
}

.botonGuardarRubro
{
        margin-bottom: 20px;
}

.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}

#textoClasificacion
{
    float:left;
    padding-right: 10px;
}

#agendaEntidad
{
    background-color: white;
        border-left: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
}

#filaPerfil
{
    margin-right: -30px;
    margin-left: -30px;
    background-color: aliceblue !important;
        padding-bottom: 20px;
}

#numeroClasificacion
{
    margin-top: 15px;
    font-weight: bold;
}

#filaComentarios
{
    margin-right: -30px;
    margin-left: -30px;
    background-color: aliceblue !important;
    padding: 20px;
    padding-top: 0px;
}

#filaTituloComentarios
{
    margin-right: -30px;
    margin-left: -30px;
    background-color: lightblue !important;
    padding: 20px;
    color: black;
}

.informacionPerfil
{
    padding-left: 30px;
}

#separadorComentarios
{
    color: aliceblue;
}

.dejarComentario
{
     padding-left: 0px;
}
#columnaPerfilCliente
 {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.scrollit
{
        float: right !important;
}