body {
    padding-top: 100px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#titulosRegistrar {
    text-align: center;
    background: lightblue;
    padding: 15px;
    box-shadow: 2px 2px 20px black;
}

.lineaSeparadoraTitulo {
    color: black;
    border-color: black !important;
}

.container {
    width: 100% !important;
}

.jumbotron {
    box-shadow: 1px 10px 50px;
}

.menu {
    min-height: 100px;
    background-color: white;
    border-color: lightgrey;
}

    .menu .container {
        width: 90% !important;
    }

.logoMenu {
    max-height: 90px;
}

@media only screen and (max-width:600px) {
    .logoMenu {
        max-width: 75%;
    }
}

.barraMenu {
    padding-top: 25px;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #337ab7;
        background-color: lightblue;
        border-color: #080808;
        font-weight: bold;
    }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #337ab7;
    background-color: white;
    border-bottom: 3px solid lightblue;
    border-radius: 0px;
    font-weight: bold;
}

.navbar-toggle {
    margin-top: 25px;
    background-color: lightgray;
}

.filaRegistrarCliente {
    background-color: aliceblue;
}

.filaLogin {
    background-color: aliceblue;
    text-align: center;
    padding-top: 40px;
}

@media only screen and (max-width: 767px) {
    .loginInput {
        display: inline !important;
    }
}

.filaOlvidoContraseña {
    background-color: aliceblue;
    text-align: center;
    padding-top: 40px;
}

.grupoLogin {
    padding-bottom: 20px;
    text-align: left;
}

.margenBot15 {
    margin-bottom: 15px;
}

@media only screen and (max-width: 767px) {
    .grupoLogin {
        padding-bottom: 20px;
        text-align: center;
    }

    .loginError {
        display: inherit;
    }
}


.footer {
    background-color: #808080;
    color: white;
    padding: 20px;
}

    .footer p {
        margin: 0px;
    }

.filaRegistrarse {
    text-align: center;
    background-color: aliceblue;
    padding-bottom: 20px;
}

.grow:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.fotoUsuario {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.fotoUsuarioPadre {
    display: table;
    table-layout: fixed;
    width: 100%;
}

@media only screen and (max-width:500px) and (min-width:400px) {
    #bienvenida h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width:400px) {
    #bienvenida h1 {
        font-size: 20px;
    }
}

#bienvenida h1 {
    padding-top: 15%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-shadow: 5px 5px 5px grey;
}

#bienvenida {
    padding-left: 0px;
}

#menuUsuarios {
    background-color: lightgray;
    margin-top: 20px;
    border-radius: 10px;
   
    
}

    #menuUsuarios li {
        background-color: lightgray;
        padding-top: 20px;
        padding-bottom:20px;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }
    #menuUsuarios li:first-child {
        border-left: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

        #menuUsuarios li a {
            color: black;
            font-weight: bold;
        }
        #menuUsuarios li:hover, #menuUsuarios li a:hover {
            
            background-color:gray;
        }

    #menuUsuarios > li + li {
        margin-left: 0px;
    }

    /*#menuUsuarios > li.active > a,
    #menuUsuarios > li.active > a:hover,
    #menuUsuarios > li.active > a:focus {
        color: #337ab7;
        background-color: white;
        border-bottom: 3px solid #337ab7;
        border-radius: 0px;
        font-weight: bold;*/
    /*}*/
    #menuUsuarios > li.active > a, #menuUsuarios > li.active
    {
        background-color:gray;
        color:white !important;
    }
    #menuUsuarios > li.active


.fondoEncabezadoUsuario {
    background-image: url(../resources/personas.png);
    background-size: cover;
    background-position: center;
}

#mapa {
    width: 100%;
    height: 600px;
    align-self: center;
}

.filaActivarEmpresa th
{
    vertical-align: middle !important;
}

.filaActivarEmpresa th img
{
    width:auto !important;
}

.filaActivarEmpresa
{
    background-color: lightyellow;
}

.info th
{
    background-color:red;
}

.about
{
    
    padding-bottom: 30px;
    padding-top: 30px;
   
}

.about h4
{
     line-height: 30px;
}

.gestionGeoposicion
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.botonesGeoposicion
{
    margin-bottom: 20px;
    margin-top:20px;
}
.contenedorNotificaciones{
    margin: auto;
    width: 300px; 
    height: 100px; 
    }