body {
    padding-top: 100px;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#titulosRegistrar
{
    text-align: center;
    background: lightblue;
    padding: 15px;
    box-shadow: 2px 2px 20px black;
}

.lineaSeparadoraTitulo
{
    color:black;
    border-color:black !important;
}

.container
{
    width:100% !important;
}

.jumbotron
{
    box-shadow: 1px 10px 50px;
}

.menu
{
        min-height: 100px;
        background-color: white;
            border-color: lightgrey;
}

.menu .container
{
        width:90% !important;
}

.logoMenu
{
    max-height:90px;
}

@media only screen and (max-width:600px)
{
    .logoMenu
{
    max-width:75%;
}
}

.barraMenu
{
    padding-top:25px;
}
.navbar-inverse .navbar-nav > li > a 
{
    color:black;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color:lightslategrey;
    background-color: transparent;
}

.navbar-toggle 
{
    margin-top: 25px;
    background-color: lightgray;
}

.filaRegistrarCliente
{
    background-color: aliceblue;
}

.footer
{
    background-color:#808080;
    color:white;
    padding: 20px;
}
.footer p
{
    margin:0px;
}

.filaRegistrarse
{
    text-align: center;
    background-color: aliceblue;
    padding-bottom:20px;
}

.grow:hover
{
-webkit-transform: scale(1.05);
-ms-transform: scale(1.05);
transform: scale(1.05);
}