<div class="container">
    <h1>Bienvenido zona de Administración</h1>


    @*TODO: identificar distintas situaciones las cuales se pueden considerar novedades,
         crear una tabla en la base de datos y con triggers identificar estas situaciones
         guardarlas en la tabla y que se muestren al almministrador al entrar en su cuenta*@
   <h1>Ultimas Novedades</h1>
    <p>Sin Novedades</p>

</div>
