<link href="~/Content/Site.css" rel="stylesheet" />

<div class="GestionarAgendaTurnos" ng-controller="GestionarAgendaTurnosController">
    
    <div class="tab">
        <button class="tablinks active" ng-click="submenu($event, 'plantilla')" id="defaultOpen">Definir Plantilla</button>
        <button class="tablinks" ng-click="submenu($event, 'visualizarAgenda')">Visualizar Agenda</button>
        <button class="tablinks" ng-click="submenu($event, 'historial')">Historial Agendas</button>
    </div>

    <div id="plantilla" class="tabcontent" ng-include="'GestionarPlantillaTurnos'">
        
    </div>

    <div id="visualizarAgenda" class="tabcontent" hidden ng-include="'VisualizarAgenda'">
       
    </div>

    <div id="historial" class="tabcontent" hidden>
        <h3>Historial Agendas</h3>
        <p>Historial Agendas</p>
    </div>
      

</div>