
@using WebSite.App_Start

@{
    var usuarioLogin = Session["usuarioLogin"] as UsuarioLogueado;
}

<link rel="stylesheet" href="~/Content/Site.css" type="text/css" />

<div class="container" ng-controller="GestionarMisTurnosController">
    <div class="row" style="margin-top: 20px;">
        <div class="col-lg-12">
            <span id="GestionarMisTurnos">Mis Turnos Activos  </span>
            <hr style="border-top: 2px solid #1d2980;" />
            
        </div>
        <div class="col-lg-12">
            <table class="table table-striped">
                <tr class="info">
                    <th ng-hide="true">idTurno</th>
                    <th>Rubro</th>
                    <th>Empresa</th>
                    <th>Fecha</th>
                    <th>Desde</th>
                    <th>Hasta</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr class="media filaActivarEmpresa" data-ng-repeat="vista in VistaTurnosAgendaVigenteParaClientes">
                    <th ng-hide="true">{{vista.e.idTurno }}</th>
                    <th>{{vista.e.nombre}}</th>
                    <th>{{vista.e.razonSocial}}</th>
                    <th>{{vista.e.fecha | date: 'dd/MM/yyyy'}}</th>
                    <th>{{vista.e.horaDesde}}</th>
                    <th>{{vista.e.horaHasta}}</th>
                    <th><a href="/home/perfilempresa/{{vista.e.razonSocial}}" class="btn btn-primary">Ver Turno</a></th>
                    <th><a ng-click="eliminarTurno(vista)" class="btn btn-danger">Eliminar Turno</a></th>
                </tr>
            </table>
        </div>
        <div id="notificaciones"><div id="mensajeNotificacion"></div></div>
        <div id="contenedorNotificaciones" class="contenedorNotificaciones"></div>
    </div>
</div>
<script>
    var retornarid = function () {
        return @usuarioLogin.Prestatario.idCliente;
    };
</script>