<div class="container">
    <h1>Bienvenido a tu cuenta personal</h1>

    <p>
        <ul>
            <li><strong><em> En la pestaña "Gestionar Mis Datos": podrás visualizar y realizar modificaciones de tus datos personales.<b></b> </em> </strong></li>
            <li><strong><em> En la pestaña "Gestionar Mis Turnos": podrás visualizar tus turnos y eliminar alguno en el caso que desees. <b></b> </em> </strong></li>
        </ul>

    </p>

    <div class="panel panel-primary">
        <div class="panel-heading">Ultimas Novedades</div>
        <div class="panel-body">Sin Novedades</div>
    </div>
</div>

