<link href="~/Content/Site.css" rel="stylesheet" />

<div class="GestionarAgendaTurnos" ng-controller="GestionarAgendaTurnosController">
    
    <div class="tab">
        <button class="tablinks active" ng-click="submenu($event, 'plantilla')" id="defaultOpen">Definir Plantilla</button>
        <button class="tablinks" ng-click="submenu($event, 'visualizarAgenda')">Visualizar Agenda</button>
        <button class="tablinks" ng-click="submenu($event, 'Tokyo')">Tokyo</button>
    </div>

    <div id="plantilla" class="tabcontent">
        <div ng-include="'GestionarPlantillaTurnos'">
        </div>
    </div>

    <div id="visualizarAgenda" class="tabcontent" hidden>
        <h3>Visualizar Agenda</h3>
        <p>Visualizar Agenda</p>
    </div>

    <div id="Tokyo" class="tabcontent" hidden>
        <h3>Tokyo</h3>
        <p>Tokyo is the capital of Japan.</p>
    </div>


</div>