@using WebSite.App_Start
@{
    var usuarioLogin = Session["usuarioLogin"] as UsuarioLogueado;
}
<div ng-controller="GestionGeoposicionController">
    <div>
        <input id="idEmpresa" type="hidden" value="@usuarioLogin.Empresa.idEmpresa" />
        <div class="form-inline">

            <div class="form-group">
                <label for="latitud">Latitud:</label>
                <input type="text" class="form-control" id="latitud" placeholder="Latidud"/>
                
            </div>
            <div class="form-group">
                <label for="longitud">Longitud:</label>
                <input type="text" class="form-control" id="longitud" placeholder="Longitud"/>
                
            </div>
            <button type="submit" class="btn btn-primary" onclick="actualizarMarcador()">Ajustar</button>

        </div>
        
        <div class="form-inline">

            <div class="form-group">
                <label for="">Dirección:</label>
                <input type="text" class="form-control" id="direccion" placeholder="Dirección" ng-model="calle" />

            </div>
            <button type="submit" class="btn btn-primary" ng-click="updateGeoposicionDesdeDireccion()">Actualizar</button>
        </div>

        <button type="submit" class="btn btn-primary" ng-click="updateGeoposicion()">Guardar Geoposición</button>

        <div id="mapa">

        </div>

    </div>


</div>
<script>

    
    

    var actualizarMarcador = function () {
        map.setCenter({ lat: Number($('#latitud').val()), lng: Number($('#longitud').val()) });
        marker.setPosition({ lat: Number($('#latitud').val()), lng: Number($('#longitud').val()) });

    }

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(initMap);
        }
    }


    function initMap(position) {

        var posicion = { lat: position.coords.latitude, lng: position.coords.longitude };

        $('#latitud').val(posicion.lat);
        $('#longitud').val(posicion.lng);

        window.map = new google.maps.Map(document.getElementById('mapa'), {
            center: posicion,
            zoom: 15
        });
        window.marker = new google.maps.Marker({
            position: posicion,
            map: map,
            draggable: true,
            //icon: {url:'http://icons.iconarchive.com/icons/paomedia/small-n-flat/128/map-marker-icon.png'} ToDo: hacer los iconos por cada rubro
        });

        marker.addListener('drag', handleEvent)

    }
    function handleEvent(event) {
        $('#latitud').val(event.latLng.lat());
        $('#longitud').val(event.latLng.lng());
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzq0gLckDLJjIGJ6cKhhe7CU6Z-eHsOAQ&callback=getLocation" async defer></script>
