<div class="container">
    <h1>Bienvenido a tu cuenta personal</h1>

    <p>
        <ul>
            <li><strong> <em>En la pestaña "Gestionar Datos de la Empresa": podrás visualizar todos los datos de tu empresa registrada, los cuales podrás modificar en caso necesario. <b></b></em> </strong></li>
            <li><strong> <em>En la pestaña "Gestionar Geolocalización": podrás visualizar y modificar datos sobre la localización de la empresa. <b></b></em> </strong> </li>
        </ul>

    </p>

    <div class="panel panel-primary">
        <div class="panel-heading">Ultimas Novedades</div>
        <div class="panel-body">Sin Novedades</div>
    </div>
</div>

