<div class="container">
    <h1>Bienvenido a la zona de Administración</h1>


    @*TODO: identificar distintas situaciones las cuales se pueden considerar novedades,
         crear una tabla en la base de datos y con triggers identificar estas situaciones
         guardarlas en la tabla y que se muestren al almministrador al entrar en su cuenta*@
    <div class="panel panel-primary">
        <div class="panel-heading">Ultimas Novedades</div>
        <div class="panel-body alert-info">Hay Empresas Pendientes de Activación</div>
    </div>

</div>
