

    <div ng-controller="GestionGeoposicionController">
        <h1>Gestionar geolocalizacion</h1>{{alcance}}


        <div class="row">
            <div class="form-inline">
                
                <div class="form-group">
                    <label for="latitud">Latitud:</label>
                    <input type="text" class="form-control" id="latitud" placeholder="Latidud"/>
                </div>
                <div class="form-group">
                    <label for="longitud">Longitud:</label>
                    <input type="text" class="form-control" id="longitud" placeholder="Longitud" />
                </div>
                    <button type="submit" class="btn btn-primary" onclick="actualizarMarcador()">Actualizar</button>
                
            </div>
            <div id="mapa"></div>

        </div>

    </div>
    <script>

        var map;
        var marker;
       
        var actualizarMarcador= function(){
            map.setCenter({ lat: Number($('#latitud').val()), lng: Number($('#longitud').val()) })
            
        }
        
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(initMap);
            }
        }

        
        function initMap(position) {
            
            var posicion={ lat: position.coords.latitude, lng: position.coords.longitude };
            map = new google.maps.Map(document.getElementById('mapa'), {
                center: posicion,
                zoom: 15
            });
            marker = new google.maps.Marker({
                position: posicion,
                map: map
            });

            $('#latitud').val(posicion.lat);
            $('#longitud').val(posicion.lng);
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzq0gLckDLJjIGJ6cKhhe7CU6Z-eHsOAQ&callback=getLocation" async defer></script>
