@using WebSite.App_Start
@{
    var usuarioLogin = Session["usuarioLogin"] as UsuarioLogueado;
}
<div ng-controller="GestionGeoposicionController">


    <div class="row gestionGeoposicion">

        <div class="col-lg-3 col-md-3">
            <input id="idEmpresa" type="hidden" value="@usuarioLogin.Empresa.idEmpresa" />
            
                <div class="form-group">
                    <label for="latitud">Latitud:</label>
                    <input type="text" class="form-control" id="latitud" placeholder="Latidud" />
                </div>
                <div class="form-group">
                    <label for="longitud">Longitud:</label>
                    <input type="text" class="form-control" id="longitud" placeholder="Longitud" />

                </div>
                <button type="submit" class="btn btn-primary botonesGeoposicion" onclick="actualizarMarcador()">Ajustar</button>
            
            
                <div class="form-group">
                    <label for="">Dirección:</label>
                    <input type="text" class="form-control" id="direccion" placeholder="Dirección" ng-model="calle" />
                </div>
                <button type="submit" class="btn btn-primary botonesGeoposicion" ng-click="updateGeoposicionDesdeDireccion()">Actualizar</button>
                <button type="submit" class="btn btn-primary botonesGeoposicion" ng-click="updateGeoposicion()">Guardar Geoposición</button>
            
        </div>
        <div class="col-md-9 col-lg-9">
            <div id="mapa" class="container">

            </div>
        </div>
    </div>
</div>
<script>
    var actualizarMarcador = function () {
        window.map.setCenter({ lat: Number($('#latitud').val()), lng: Number($('#longitud').val()) });
        window.marker.setPosition({ lat: Number($('#latitud').val()), lng: Number($('#longitud').val()) });

    }
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(initMap);
        }
    }
    function initMap(position) {

        window.posicionActual = { lat: position.coords.latitude, lng: position.coords.longitude };

        window.map = new google.maps.Map(document.getElementById('mapa'), {
            center: window.posicionActual,
            zoom: 15
        });
        
    }
    function handleEvent(event) {
        $('#latitud').val(event.latLng.lat());
        $('#longitud').val(event.latLng.lng());
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzq0gLckDLJjIGJ6cKhhe7CU6Z-eHsOAQ&callback=getLocation" async defer></script>
