<link href="~/Content/Site.css" rel="stylesheet" />

<div class="GestionarAgendaTurnos" ng-controller="EstadisticaAdministacionController">

    <div class="tab">
        <button class="tablinks " ng-click="submenu($event,'estadistcia1')" id="defaultOpen">Cantidad de empresas por rubro</button>
        <button class="tablinks " ng-click="submenu($event,'estadistcia2')" >Informe de Empresas</button>
    </div>
   
    <div id="estadistcia1" class="tabcontent" ng-include="contenidoATraer">

    </div>
    
</div>
