<div ng-controller="InformeEmpresasController">


        <div class="row col-md-2">
            <h3>Filtros</h3>
            <div class="container">

                <form class="form-horizontal" style="margin-bottom:15px;">
                    <div class="form-group">
                        <label for="fechaDesde">Fecha Desde:</label>
                        <div id="fechaDesde" ng-model="fechaDesde"></div>
                    </div>
                    <div class="form-group">
                        <label for="fechaHasta">Fecha Hasta:</label>
                        <div id="fechaHasta" ng-model="fechaHasta"></div>
                    </div>


                    <div class="form-group">
                        <label>Rubros:</label>
                        <select ng-model="rubro" class="form-control" name="idRubro" id="rubros">
                            <option Value="">Seleccione...</option>
                            <option value="{{rubro.idRubro}}" ng-repeat="rubro in rubros">{{rubro.nombre}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="provincias">Provincia:</label>
                        <select ng-model="prov" class="form-control" id="provincias" ng-change="clickProvincias()">
                            <option value="">Seleccione...</option>
                            <option value="{{provincia.idProvincia}}" ng-repeat="provincia in provincias">{{provincia.nombre}}</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="ciudades">Ciudad</label>
                        <select ng-model="ciudad" class="form-control" id="ciudades" disabled>
                            <option value="">Seleccione...</option>
                            <option value="{{ciudad.idCiudad}}" ng-repeat="ciudad in ciudades">{{ciudad.nombre}}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" ng-click="filtrar()">Aplicar Filtro</button>
                </form>

            </div>
        </div>


    <table class="table table-striped">
        <tr class="info">
            <th ng-hide="true">idRubro</th>
            <th>Logo</th>
            <th>Cuit</th>
            <th>Razon Social</th>
            <th>Fecha Registro Empresa</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Calle</th>
            <th>Altura</th>
        </tr>
        <tr class="media filaActivarEmpresa" data-ng-repeat="emp in empresas">
            <th class="media-left media-middle"><img ng-src="data:image/png;base64,{{emp.e.logoEmpresa}}" class="media-object" style="height:40px;width:40px" /></th>
            <th>{{emp.e.cuit}}</th>
            <th>{{emp.e.razonSocial}}</th>
            <th>{{emp.e.fechaRegistroEmpresa | date:'dd/MM/yyyy'}}</th>
            <th>{{emp.e.telefono}}</th>
            <th>{{emp.e.email}}</th>
            <th>{{emp.e.calle}}</th>
            <th>{{emp.e.altura}}</th>
        </tr>
    </table>

    <div id="notificaciones"><div id="mensajeNotificacion"></div></div>
    <div id="contenedorNotificaciones" class="contenedorNotificaciones"></div>
    <div id="loader"></div>
</div>