@using WebSite.App_Start
@{
    ViewBag.Title = "Mi Cuenta";

    var usuarioLogin = Session["usuarioLogin"] as UsuarioLogueado;
}

<div class="container" role="main" ng-controller="MiCuentaEmpresaPrestadoraController">
    <div id="head" class="row">
        @Html.Partial("_PartialCabeceraCuenta")
    </div>

    <div class="row">
        <ul class="nav nav-pills" id="menuUsuarios">
            <li id="principal" ng-click="clickMenu('principal')" role="presentation" class="active">
                <a href="">Principal</a>
            </li>
            <li id="geoposicion" ng-click="clickMenu('geoposicion')" role="presentation">
                <a href="">Gestionar Geolocalización</a>
            </li>

        </ul>
    </div>
    
    <div id="bodyEntidad" class="row" ng-include="contenidoATraer">
        
    </div>
    
</div>

<script>
    $(document).ready(function () {

        var base64 = '@Convert.ToBase64String(@usuarioLogin.Empresa.logoEmpresa)';
        if (base64 != '') {
            var imgtag = document.getElementById("avatar");
            imgtag.src = 'data:image/png;base64,' + base64;
            var divBienvenida = document.getElementById("bienvenida");
            divBienvenida.innerHTML = "<h1>Bienvenido @usuarioLogin.Usuario</h1>";
        }

    });
</script>