@using System.Web.Mvc.Ajax
@{
    ViewBag.Title = "Administración";
}

<div class="container" role="main" ng-controller="AdministacionController">
    <div id="head" class="row fondoEncabezadoUsuario">
        @Html.Partial("_PartialCabeceraCuenta")
    </div>
    <div class="row">

        <ul class="nav nav-pills" id="menuUsuarios">
            <li id="principal" ng-click="clickMenu('principal')" role="presentation" class="active">

                @Ajax.ActionLink("Principal", "PrincipalAdministracion", new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "body" })

            </li>
            <li id="activacionEmpresa" ng-click="clickMenu('activacionEmpresa')" role="presentation">

                @Ajax.ActionLink("Autorizar Empresa Prestadora", "ActivacionEmpresa", new AjaxOptions() { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "body" })

            </li>
        </ul>
    </div>

    <div id="body" class="row">
        @Html.Partial("_PartialPrincipalAdministracion");

    </div>
</div>

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    $(document).ready(function () {

        var imgtag = document.getElementById("avatar");
        imgtag.src = '/resources/OAI50J0.jpg';
        var divBienvenida = document.getElementById("bienvenida");
        divBienvenida.innerHTML = "<h1>Administración</h1>";

    });
</script>