@using WebSite.App_Start
@{
    ViewBag.Title = "Mi Cuenta";

    var usuarioLogin = Session["usuarioLogin"] as UsuarioLogueado;
}

<div class="container" role="main" ng-controller="MiCuentaClientePrestatarioController">
    @Html.Partial("_PartialCabeceraCuenta")
</div>

